{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ member.image }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>BirthDay</th>
                <td>{{ member.birthDay ? member.birthDay|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ member.gender }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ member.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ member.address }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ member.cin }}</td>
            </tr>
            <tr>
                <th>NumActBirth</th>
                <td>{{ member.numActBirth }}</td>
            </tr>
            <tr>
                <th>ArabicName</th>
                <td>{{ member.arabicName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ member.createdAt ? member.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ member.updatedAt ? member.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
